@model DDAC_CMS.Models.ResetUserPasswordViewModel

@{
    ViewBag.Title = "ResetUserPassword";
}

<body style='background-color:ghostwhite'>
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <br />
            <div class="" style="background-color: #ffffff; padding: 20px; border-radius: 20px; box-shadow: 0px 0px 5px;">
                @using (Html.BeginForm("ResetUserPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", area = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <h4>Reset Password </h4>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 disabled">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", value = ViewBag.Username, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10 disabled">
                            @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", value = ViewBag.UserId, placeholder = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Reset Password" />&nbsp;&nbsp;&nbsp; 
                            @Html.ActionLink("Back to Home", "ViewUser", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</body>
    
