@model IEnumerable<DDAC_CMS.Models.Booking>

@{
    ViewBag.Title = "ViewBooking";
}

<body style='background-color:ghostwhite'>
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>All Booking</b>
            </h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                @Html.ActionLink("View Cargo Detail", "ViewCargo", null, new { @class = "btn btn-primary" })
            </div>

            <table class="table table-hover table-bordered table-condensed" id="bookings">
                <thead>
                    <tr>
                        <th>
                            <b>Booking ID</b>
                        </th>
                        <th>
                            <b>Shipping Schedule</b>
                        </th>
                        <th>
                            <b>Cargo Name</b>
                        </th>
                        <th>
                            <b>Created By</b>
                        </th>
                        <th>
                            <b>Created On</b>
                        </th>

                        <th>
                            <b>Status</b>
                        </th>

                        <td>
                            <b>Option</b>
                        </td>
                        
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippingSchedule.ShippingScheduleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        <td class="form-action">
                            <span style="color: #ff0000;">
                                <a href="@Url.Action("UpdateBooking", "Admin_Booking", new { id = item.Id })" class="btn btn-success btn-block">
                                    <i class="fa fa-unlock">&nbsp;</i>Update Booking Status
                                </a>
                            </span>
                        </td>
                        
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            <p class="box-title"><b>Total Booking till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
        </div>
    </div>
</body>


@section scripts{

    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {
            $("#bookings").DataTable();
            $('#bookings1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "dom": 't'
            });
        });
    </script>
}




