@model DDAC_CMS.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<body style='background-color:ghostwhite'>
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <br />
            <div class="" style="background-color: #ffffff; padding: 20px; border-radius: 20px; box-shadow: 0px 0px 5px;">

                <h4>Are you sure you want to delete this?</h4>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        <label><strong> Booking ID : </strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BookingName)
                    </dd>

                    <dt>
                        <label><strong> Shipping Schedule : </strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShippingSchedule.ShippingScheduleName)
                    </dd>

                    <dt>
                        <label><strong> Cargoes Name : </strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cargo.Name)
                    </dd>

                    <dt>
                        <label><strong> Created By : </strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AspNetUser.FullName)
                    </dd>

                    <dt>
                        <label><strong> Created On : </strong></label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>




                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Delete" class="btn btn-success" /> &nbsp;&nbsp;&nbsp;
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                    </div>
                }
            </div>
        </div>
    </div>
</body>
